#!/usr/bin/env bash
useradd -m -d /home/ansible -s /bin/bash -c "Ansible user" ansible
touch /etc/sudoers.d/ansible
echo "ansible ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/ansible
chmod 440 /etc/sudoers.d/ansible
mkdir /home/ansible/.ssh
touch /home/ansible/.ssh/authorized_keys
echo "${ansible_pub_key}" > /home/ansible/.ssh/authorized_keys
chown -R ansible:ansible /home/ansible/.ssh
chmod 700 /home/ansible/.ssh
chmod 600 /home/ansible/.ssh/authorized_keys
