#!/usr/bin/env bash
sudo hostnamectl set-hostname ${bastion_server_hostname}
sudo echo "${bastion_server_pvt_ip} ${bastion_server_hostname}" >> /etc/hosts
sudo echo "${ansible_server_pvt_ip} ${ansible_server_hostname}" >> /etc/hosts
sudo echo "${squid_proxy_pvt_ip} ${squid_proxy_hostname}" >> /etc/hosts
sudo echo "${ubuntu10_pvt_ip} ${ubuntu10_hostname}" >> /etc/hosts
sudo echo "${ubuntu11_pvt_ip} ${ubuntu11_hostname}" >> /etc/hosts
sudo echo "${redhat10_pvt_ip} ${redhat10_hostname}" >> /etc/hosts
sudo echo "${redhat11_pvt_ip} ${redhat11_hostname}" >> /etc/hosts