#!/usr/bin/env bash
sudo hostnamectl set-hostname ${redhat10_hostname}
echo "${redhat10_pvt_ip} ${redhat10_hostname}" | sudo tee -a /etc/hosts
echo "${squid_proxy_pvt_ip} ${squid_proxy_hostname}" | sudo tee -a /etc/hosts
# Setup proxy details for YUM to connect to public YUM repos via proxy server.
echo "proxy=http://${squid_proxy_hostname}:3128/" | sudo tee -a /etc/yum.conf
