******************************************************************************************
*  You have logged in to the {{ hostname }} host in a secure environment.
*  All of your activities will be monitored.
*  Strict action will be taken in case of any suspicious activity.
******************************************************************************************

